.section-input{
    border-bottom: 2px solid black;
}

.form-section{
    padding: 50px;
    border: 2px solid red;
}

.ques-accordion{
    background: yellow;
}
body {
    background-color: lightblue;
  }
.form-section {
    border-style: solid;
    border-width: 5px;
  }
  .form-section{
    /* border: 2px solid red; */
    border-radius: 5px;
  }